body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{

    text-align:end;
    color: b;
}


body{background-color: rgba(206, 249, 249, 0.315);}
h4{color: blue;}

a{
    color: black;
    text-align: center;
  
}

